@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@using Microsoft.CodeAnalysis.Elfie.Diagnostics
@using Microsoft.Extensions.Logging
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello <span id="username">@UserManager.GetUserName(User)</span>!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
    @if (User.IsInRole(SD.Role_Admin))
    {
        <div style="display: inline-block; margin-right: 10px;">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Admin Area</a>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="" href="/Customer/ShoppingCart/GetUserCart">
                <span id="cartCount" class="badge text-bg-info">0</span>
                <i class="bi bi-cart"></i>
            </a>
        </li>
    }
}
else
{
    <li class="nav-item">
        <div class="gradient-button">
            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link"><i class="fa fa-sign-in-alt"></i> Sign In Now</a>
        </div>
    </li>
}
