@if(TempData["success"]!=null){
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
   toastr.success('@TempData["success"]');
   </script>
}
@if(TempData["error"]!=null){
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
   toastr.error('@TempData["error"]');
   </script>
}
@if (TempData["successMessage"] is not null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["successMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["errorMessage"] is not null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["errorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}