<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/SimService/images/favicon.png" type="">

    <title> TechLife SimService </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/SimService/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- font awesome style -->
    <!-- Custom styles for this template -->
    <link href="~/SimService/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/SimService/css/responsive.css" rel="stylesheet" />
    <style>
        .hero_area {
            position: relative;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            z-index: 0; /* Ensure hero_area is below content but above the background */
        }

        .hero_bg_box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
            z-index: -1; /* Make sure it is behind all other content */
        }

        .bg_img_box {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover; /* Ensures the image covers the container */
        }
    </style>
</head>

<body>

    <div class="hero_area">

        <div class="hero_bg_box">
            <div class="bg_img_box">
                <img src="~/SimService/images/hero-bg.png" alt="">
            </div>
        </div>

        <!-- slider section -->
        <section class="slider_section">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <!-- Single Carousel Item -->
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detail-box">
                                        <h1>
                                            Sim <br>
                                            Services
                                        </h1>
                                        <p>
                                            You can easily charge your Touch or Alfa Sim card by selecting the bundle and our team will Serve you within 10 minutes.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="~/SimService/images/slider-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>

    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2>
                        Our <span>Services</span>
                    </h2>
                    <p>
                        We Provide For You Both MTC And Alfa Services For Lebanese Sims
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/img/alfalogo.jfif" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Alfa Bundles
                                </h5>
                                <p>
                                    Here we provide Alfa chargable dollars, Waffer and Internet bundles Served to you Easily and Quickly.
                                    Don't hesitate to request your bundle and pay through credit.
                                </p>
                                <a href="/Customer/SimService/AlfaIndex">
                                    View Bundles
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/img/mtclogo2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Mtc Bundles
                                </h5>
                                <p>
                                    Here we provide Mtc chargable Magic Dollars, Start, Smart, Super, Days and Internet bundles Served to you Easily and Quickly.
                                    Don't hesitate to request your bundle and pay through credit.
                                </p>
                                <a href="/Customer/SimService/MtcIndex">
                                    View Bundles
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/SimService/images/s3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Expert Support
                                </h5>
                                <p>
                                    Techlife Support where you can ask technicans to solve your problem
                                </p>
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        View All
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQery -->
    <script type="text/javascript" src="~/SimService/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="~/SimService/js/bootstrap.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="~/SimService/js/custom.js"></script>

</body>

</html>
