@model List<Cart>  

<div class="container">
    <h1 class="my-5">Shopping Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td><img src="~/@obj.ImgURL" alt="@obj.CartName" style="width: 50px; height: 50px;"></td>
                    <td>@obj.CartName</td>
                    <td>$@obj.CartPrice</td>
                    <td>@obj.CartQuantity</td>
                    <td id="subtotal@(obj.CartID)">$@(obj.CartPrice * obj.CartQuantity)</td>
                    <td>
                        <a asp-controller="Cart" asp-action="Delete" asp-route-id="@obj.CartID" class="btn btn-danger float-md-end mx-2">
                            <i class="bi bi-x-square-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-end">Total</td>
                <td id="totalPrice" style="font-weight:bold;">$0.00</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    window.onload = function () {
        function calculateTotal() {
            let total = 0;

            const subtotalElements = document.querySelectorAll("[id^='subtotal']");
            subtotalElements.forEach((element) => {
                const subtotal = parseFloat(element.textContent.slice(1));
                total += subtotal;
            });
            const totalElement = document.getElementById('totalPrice');
            totalElement.textContent = `$${total.toFixed(2)}`;
        }

        calculateTotal();
    };
</script>