<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/stylesheetAbout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <div class="full-width-image-container">
        <img src="~/img/photo.jpg" alt="" class="full-width-image">
        <div class="overlay"></div>
        <div class="text-overlay ">
            <h1>ABOUT US ?</h1>
        </div>
    </div>

    <div class="container mt-5 center-container">
        <div class="Id text-center" id="popUpSection">
            <h3>Who Are We ?</h3>
            <hr style="color: rgb(0, 255, 0); width: 10%; border-width: 4px; margin-top: 3px;">
            <p>
                It's an online tech store, which offers a wide variety of different technologies and maintenance
                services. Moreover, this project was done by HTML, CSS, JS, and Dotnet framework. In this virtual
                store , we offer many different types of phones , that a user can buy , moreover a wide variety of
                different laptops. Not Only but also , we offer different types of Accessories that people may need
                in their daily life.Have a look !
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class=" container6 row row-cols-1 row-cols-md-4 g-4 mt-1 p-4 justify-content-center">
        <div class="col">
            <div class="card h-100">
                <img src="~/img/University-Lecturre-Venue-scaled.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">University student <i class="bi bi-book"></i></h5>
                    <p class="card-text">Third year university students, whom are completing their journey.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/img/business-progress-hacks.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trying to Obtain their own business</h5>
                    <p class="card-text">
                        Ambitious students, whom are planning from their early first year, to have
                        their own business.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/img/istockphoto-1319849784-612x612.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Always in Progress</h5>
                    <p class="card-text">
                        This is our first project to do, and we are looking to have more projects
                        such that we will have more experience in work.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class=" IntroToUs row row-cols-1 row-cols-md-3 mt-0 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/img/WhatsApp Image 2023-12-28 at 00.36.02_15a65580.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hasan Fakih</h5>
                    <p class="card-text">Third year student at al maaref university.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="~/img/WhatsApp Image 2023-12-28 at 00.35.46_5ecbecb1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mohammad Atwi</h5>
                    <p class="card-text">Third year student at al maaref university.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-box">
        <div class="row">
            <div class="col-md-4">
                <div class="about-us">
                    <h5>About Us</h5>
                    <ul>
                        <li><a href="#"><i class="bi bi-geo-alt"></i>&nbsp; Location: Beirut, Lebanon.</a></li>
                        <li><a href="#"><i class="bi bi-telephone"></i>&nbsp; Phone: +961 76 634 809.</a></li>
                        <li><a href="#"><i class="bi bi-envelope"></i>&nbsp; Email: Techlife@gmail.com.lb.</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="clickable-services">
                    <h5>Clickable Services</h5>
                    <ul>
                        <li>
                            <a href="#" class="service-link">
                                <i class="bi bi-arrow-right"></i> Smartphone & Tablet
                                Repair
                            </a>
                        </li>
                        <li>
                            <a href="#" class="service-link"><i class="bi bi-arrow-right"></i> PC & MAC Repair</a>
                        </li>
                        <li><a href="#" class="service-link"><i class="bi bi-arrow-right"></i> TV Repair</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="opening-hours">
                    <h5>Opening Hours</h5>
                    <ul>
                        <li>
                            <a href="#" class="service-link">
                                <i class="bi bi-clock"></i>&nbsp; Monday - Saturday:
                                8:00 am - 9:00 pm
                            </a>
                        </li>
                        <li>
                            <a href="#" class="service-link"><i class="bi bi-clock"></i>&nbsp; Sunday: Closed</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function isInViewport(element) {
                var rect = element.getBoundingClientRect();
                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
            }
            function handleIntersection(entries, observer) {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("show");
                        observer.unobserve(entry.target);
                    }
                });
            }
            var observer = new IntersectionObserver(handleIntersection, { threshold: 0.5 });


            var cards = document.querySelectorAll(".card");
            cards.forEach(card => {
                observer.observe(card);
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>
